.wrapper {
    --search-height: 46px;
    --search-spacer: 9px;
    --search-bottom-width: 52px;

    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--default-layout-width);
}

.logo img {
    width: 118px;
    height: 42px;
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    position: relative;
    width: 516px;
    height: var(--search-height);
    padding: 0 0 0 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius-button);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        caret-color: var(--pramary);
        font-size: 1.6rem;
        background-color: transparent;
        font-weight: 300;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-spacer);
        right: var(--search-bottom-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    top: 50%;
    right: calc(var(--search-bottom-width) + 16px);
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
}

.search-btn {
    width: var(--search-bottom-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius-button);
    border-bottom-right-radius: var(--search-border-radius-button);
    font-size: 1.9rem;
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
